@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>This web site is a project for SWENG 861, 001, SP20 by <a href="mailto:mvs5709@psu.edu">Marc Sozynski</a>.</p>
