@model SWENG861.Models.SearchPageModel
@Styles.Render("~/Content/colorlib")
@{
    ViewBag.Title = "Search";
}

<!-- Header -->

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-center">

                    <!-- Logo -->
                    <div class="logo">
                        <a href="/" class="d-flex flex-row align-items-end justify-content-start">
                            <span class="logo_bars d-flex flex-row align-items-end justify-content-between"><span></span><span></span><span></span><span></span><span></span></span>
                            <span class="logo_text"></span>
                        </a>
                    </div>

                    <!-- Main Navigation -->
                    <nav class="main_nav">
                        <ul class="d-flex flex-row align-items-center justify-content-start">
                            <li class="active"><a href="/">Search</a></li>
                            <li><a href="/About">About</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Menu -->

<div class="menu">
    <div class="menu_container">
        <div class="menu_background"></div>
        <div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="menu_content d-flex flex-column align-items-center justify-content-start">
            <nav class="menu_nav">
                <ul class="d-flex flex-column align-items-center justify-content-start">
                    <li class="active"><a href="/">Search</a></li>
                    <li><a href="/About">About</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Home -->

<div class="home">

    <!-- Home Slider -->
    <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">

            <!-- Slide -->
            <div class="slide">
                <div class="background_image" style="background-image:url(Content/images/index.jpg)"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content">
                                    <div class="home_title_container text-center">
                                        <div class="home_title islive text-center"><h1>search <span>artist</span></h1></div>
                                    </div>
                                    <div class="tickets_form_container">
                                        <form action="#" class="tickets_form">
                                            <div class="d-flex flex-md-row flex-column align-items-start justify-content-md-between justify-content-start">
                                                <div class="tickets_form_inputs d-flex flex-row align-items-start justify-content-between">
                                                    <input type="text" class="tickets_form_input" id="search_artist_text" placeholder="Enter Artist">
                                                </div>
                                                <button class="tickets_form_button button" id="search_artist_button"><span>Search Artist</span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide -->
            <div class="slide">
                <div class="background_image" style="background-image:url(Content/images/featured_artist_1.jpg)"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content">
                                    <div class="home_title_container text-center">
                                        <div class="home_title islive text-center"><h1>search <span>track</span></h1></div>
                                    </div>
                                    <div class="tickets_form_container">
                                        <form action="#" class="tickets_form">
                                            <div class="d-flex flex-md-row flex-column align-items-start justify-content-md-between justify-content-start">
                                                <div class="tickets_form_inputs d-flex flex-row align-items-start justify-content-between">
                                                    <input type="text" class="tickets_form_input" id="search_track_text" placeholder="Enter Track" required="required">
                                                </div>
                                                <button class="tickets_form_button button" id="search_track_button"><span>Search Track</span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Home Slider Navigation -->
        <div class="home_slider_nav"><i class="fa fa-angle-right" aria-hidden="true"></i></div>

    </div>
</div>

@*Get search results by artist or track*@
<script>
    $(document).ready(function () {
        $("#search_artist_button").click(function (e) {
            if ($("#search_artist_text").val() != "") {
                e.preventDefault();
                window.location.href = "/Search?artist=" + $("#search_artist_text").val();
            }
        });

        $("#search_track_button").click(function (e) {
            if ($("#search_track_text").val() != "") {
                e.preventDefault();
                window.location.href = "/Search?track=" + $("#search_track_text").val();
            }
        });

        $("#search_artist_text").change(function () {
            $("#search_artist_text").val(this.value);
        });

        $("#search_track_text").change(function () {
            $("#search_track_text").val(this.value);
        });
    });
</script>

<script src="Content/plugins/greensock/TweenMax.min.js"></script>
<script src="Content/plugins/greensock/TimelineMax.min.js"></script>
<script src="Content/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="Content/plugins/greensock/animation.gsap.min.js"></script>
<script src="Content/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="Content/plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
<script src="Content/plugins/easing/easing.js"></script>
<script src="Content/plugins/progressbar/progressbar.min.js"></script>
<script src="Content/plugins/parallax-js-master/parallax.min.js"></script>
<script src="Content/plugins/scrollTo/jquery.scrollTo.min.js"></script>
<script src="Content/js/custom.js"></script>
