@{
    ViewBag.Title = "Home";
}

<div class="text-center">
    <h1 class="display-4">Search</h1>
    <hr />
    <p><a href="/api/Spotify/SearchArtist/beatles">Click here</a> to conduct a test search by artist.</p>
    <p><a href="/api/Spotify/SearchTitle/hey jude">Click here</a> to conduct a test search by title.</p>
</div>
